<div class="container">
  <div class="container__logos">
    <div class="container__item" *ngFor="let logo of logos">
      <img [src]="logo.src" [alt]="logo.alt" class="container__item__logo" />
      <a
        [href]="logo.link"
        class="container__item__link"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ logo.text }}
      </a>
    </div>
  </div>
</div>
<div class="container_mob">
  <div class="container_mob__logos">
    <div class="container_mob__item" *ngFor="let logo of logos">
      <img
        [src]="logo.src"
        [alt]="logo.alt"
        class="container_mob__item__logo"
      />
      <a
        [href]="logo.link"
        class="container_mob__item__link"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ logo.text }}
      </a>
    </div>
  </div>
</div>
